form {
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
}

input {
    margin: 20px 10px;
    width: 90%;
    border: 0px;
    padding: 5px;
    border-radius: 4px;

}

button {
    background: linear-gradient(to right, #0072ff, #00c6ff);
    font-size: 18px;
    color: white;
    margin: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 0px;

    &:hover {
        background: linear-gradient(to right, rgb(7, 177, 10), rgb(6, 224, 9));
    }
}

.review-text {
    height: 150px;
}